body {
    margin: 0;
    overflow: hidden;
    background-color: #000000; /* Dunkler Hintergrund */
}
#container {
    width: 100vw;
    height: 100vh;
}
#controls {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}
#controls h2 {
    margin-top: 0;
}
label {
    display: block;
    margin-bottom: 5px;
}
button {
    margin-top: 10px;
}
#load-code {
    width: 100%;
    margin-top: 10px;
}