/* Canvas soll im Hintergrund sein */
#canvas-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    /* Ganz hinten */
    background: #020a1d;
    /* Fallback-Hintergrund */
}

/* Three.js Canvas */
#canvas-container canvas {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}