/* Canvas soll im Hintergrund sein */
#canvas-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    overflow: hidden;
}

/* Canvas soll nur Hintergrund sein – kein z-index nötig */
canvas {
    position: absolute; /* Wenn weg dann grau */
    width: 100%;
    height: 100%;
    display: block;
    pointer-events: none;
        /* 👈 Das macht den Canvas "durchklickbar" */
}