/* --- Footer und Lizenz-Dropdown --- */
#footer {
    position: fixed !important;
    bottom: 10px !important;
    right: 10px !important;
    z-index: 900 !important;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 5px;
}

#cc-license {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 12px;
    z-index: 1000;
    display: flex;
    align-items: center;
    gap: 8px;
}



#close-cc {
    cursor: pointer;
    font-size: 14px;
    background: transparent;
    border: none;
    color: white;
    padding: 0 4px;
    transition: color 0.2s;
}

#close-cc:hover {
    color: #3419cf;
}


.license-link,
.license-icon {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.license-icon {
    vertical-align: middle;
}

#license-info {
    position: fixed !important;
    bottom: 40px !important;
    right: 10px !important;
    z-index: 901 !important;
}

.hidden {
    display: none !important;
}

.visible {
    display: block !important;
}



#license-info.active {
    display: block;
    opacity: 1;
}

#license-info.hidden {
    display: none;
    animation: fadeIn 0.3s ease-in-out;
    opacity: 0;
}


#license-info a {
    color: #3419cf;
    /* Grün für Links */
    text-decoration: none;
}

#license-info a:hover {
    text-decoration: underline;
}

#loading-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 4px;
    background: linear-gradient(90deg, #3419cf, #6b46ff);
    z-index: 2000;
    transition: width 0.3s ease;
}

