#container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}




/* Hamburger-Menü bei geöffnetem Zustand */
#menu-icon {
    position: fixed !important;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1100 !important;
    font-size: 24px;
    color: white;
}


#menu-icon:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

#menu-icon div {
    background-color: #ffffff;
    height: 4px;
    margin: 5px 0;
    border-radius: 2px;
    transition: transform 0.4s, opacity 0.4s;
}

#menu-icon.open div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    background: #3419cf;
}

#menu-icon.open div:nth-child(2) {
    opacity: 0;
}

#menu-icon.open div:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
}

