#container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}




/* Hamburger-Menü bei geöffnetem Zustand */
#menu-icon {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 24px;
    cursor: pointer;
    z-index: 1000;
}

#menu-icon div {
    background-color: #ffffff;
    height: 4px;
    margin: 5px 0;
    border-radius: 2px;
    transition: transform 0.4s, opacity 0.4s;
}

#menu-icon.open div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

#menu-icon.open div:nth-child(2) {
    opacity: 0;
}

#menu-icon.open div:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
}

